.form {
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 500px;
}
.formElement {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 20px;
}

.formInput {
  margin-bottom: 10px;
  background-color: #046aaa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formInput:hover {
  background-color: #16378a;
}

.formButton {
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
}

.formButton:hover {
  background-color: azure;
}

.error {
  color: red;
}
